.create-todo-button{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  font-size: 2.3rem;
  font-weight: 700;
  border: 2px solid #079bc0;
  color: #079bc0;
  background-color: azure;
  z-index: 100;
}

.create-todo-button:hover{
  animation: App-logo-spin 1s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}