.todo-item{
  width: 100%;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.item__icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  max-width: 40px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.item__icon--check{
  margin-left: 10px;
}

.item__icon--check-active{
  color: green;
  scale: 1.2;
}


.item__icon--delete{
  position: absolute;
  right: 10px;
  top: -20px;
  transition: all ease .6s;
}

.item__icon--delete:hover{
  transition: all ease .6s;
  transform: scale(1.2);
  color: red;
}



.todo-item__p{
  width: calc(100% - 80px);
  padding-right: 30px;
  font-size: 1.3rem;
  text-align:center;
}

.todo-item__p--completed{
  font-size: 1.4rem;
  color: green;
  text-decoration: line-through;
}